<h1> LOGIN </h1>
<form action="/users/login" method="post">
    Email:
    <input type="text" name="email" id="email" />
    Password:
    <input type="password" name="password" id="password" />

    <input type="submit" value="LOGIN" />

</form>

<h2> NEW USER? </h2>
<button type="submit" onclick="location.href='/views/register'"> Go Register </button>

<h2> LOGIN WITH GITHUB </h2>
<button type="submit" onclick="location.href='/users/register-github'"> Go Register / LOGIN </button>

{{!-- <h2> LOGIN WITH GUGUL </h2>
<button type="submit" onclick="location.href='/users/oauth2/redirect/accounts.google.com'"> Go Register </button> --}}