<h1> LOGIN </h1>
<form action="/users/login" method="post">
    Email:
    <input type="text" name="email" id="email" />
    Password:
    <input type="hide" name="password" id="password" />

    <input type="submit" value="LOGIN" />

</form>

<h2> NEW USER? </h2>
<button type="submit" onclick="location.href='/views/register'"> Go Register </button>