<h1>REGISTER USER</h1>

<form action="/users/register" method="post">
    FirstName <input type="text" name="first_name" id="">
    LastName <input type="text" name="last_name" id="">
    Email <input type="text" name="email" id="">
    Age <input type="number" name="age" id="">
    Password <input type="password" name="password" id="">
    <input type="submit" value="REGISTER">
</form>
